<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12 sm6 class="text-xs-center text-sm-right">
        <v-btn larg router to="/newsitems" class="info"> Explore News</v-btn>
      </v-flex>
      <v-flex xs12 sm6 class="text-xs-center text-sm-left">
        <v-btn larg router to="/newsitems/new" class="info">
          Organize News</v-btn >
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex xs12 class="text-xs-center">
        <v-progress-circular
        indeterminate
        class="primary--text"
        :width="7"
        :size="70"
        v-if="loading"></v-progress-circular>
      </v-flex>
    </v-layout>
    <v-layout row wrap class="mt-2" v-if="!loading">
      <v-flex xs12>
        <v-carousel style="cursor: pointer;">
          <v-carousel-item
          v-for="newsitem in newsItems"
          :src="newsitem.imageUrl"
          :key="newsitem.id"
          @click="onLoadNews(newsitem.id)">
          <div class="title">
            {{newsitem.title}}</div>
          </v-carousel-item>
        </v-carousel>
      </v-flex>
    </v-layout>
     <v-layout row wrap class="mt-2" >
      <v-flex xs12 class="text-xs-center">
        <p>See the newest news around you!</p>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  computed: {
    newsItems () {
      return this.$store.getters.featuredNewsItems
    },
    loading () {
      return this.$store.getters.loading
    }
  },
  methods: {
    onLoadNews (id) {
      this.$router.push('/newsitems/' + id)
    }
  }
}
</script>

<style scoped>
.title{
  position: absolute;
  bottom: 50px;
  background-color:#6766667d;
  color:white;
  font-size: 2em;
  padding: 20px;
}

</style>
