<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12 >
        <v-card>
          <v-card-title>
            <h6 class="primary--text">{{newsItem.title}}</h6>
            <template v-if="true /* userIsAuther */">
              <v-spacer></v-spacer>
              <app-edit-newsItem-dialog>
              </app-edit-newsItem-dialog>
            </template>
          </v-card-title>
          <v-card-media
            :src="newsItem.imageUrl"
            height="400px">
          </v-card-media>
          <v-card-text>
            <div> {{newsItem.date | date}} | {{newsItem.location}}</div>
            <div>
              <app-edit-newsItem-date-dialog
              :newsItem="newsItem" v-if=" true /* userIsAuther */">
              </app-edit-newsItem-date-dialog>
              <app-edit-newsItem-time-dialog
              :newsItem="newsItem" v-if="true">
              </app-edit-newsItem-time-dialog>
            </div>
            <div class="secondary--text">{{newsItem.description}}</div>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn flat
            class="primary--text v-btn__content">
              Edit
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  props: ['id'],
  computed: {
    newsItem () {
      return this.$store.getters.loadedNewsItem(this.id)
    },
    userIsAuthenticated () {
      return this.$store.getters.user !== null &&
      this.$store.getters.user !== undefined
    },
    userIsAuther () {
      if (!this.userIsAuthenticated) {
        return false
      }
      return this.$store.getters.user.id === this.newsItem
    }
  }
}
</script>
