<template>
  <v-app>
    <v-navigation-drawer temporary v-model="sideNav" >
      <v-list >
        <v-list-tile
          v-for="menuItem in menuItems"
          :key="menuItem.title"
          router
          :to="menuItem.link">
          <v-list-tile-action>
            <v-icon>{{ menuItem.icon }} </v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            {{ menuItem.title }}
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile
        v-if="userIsAuthenticated"
        @click="onlogout">
          <v-list-tile-action>
            <v-icon>exit_to_app</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            Logout
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <v-toolbar dark class="primary">
      <v-toolbar-side-icon class="hidden-xs-only"
        @click.stop="sideNav = !sideNav"

      ></v-toolbar-side-icon>

      <v-toolbar-title>
        <router-link to="/" tag="span"
        style="cursor: pointer;">
        BootfiNews</router-link>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-toolbar-items class="hidden-xs-only">
        <v-btn
          flat
          v-for="menuItem in menuItems"
          :key="menuItem.title"
          router
          :to="menuItem.link">
          <v-icon left dark>{{ menuItem.icon }}</v-icon>
          {{ menuItem.title }}
        </v-btn>
      </v-toolbar-items>
      <v-toolbar-items class="hidden-xs-only"
      v-if="userIsAuthenticated"
      @click="onlogout">
        <v-btn flat>
          <v-icon left dark>exit_to_app</v-icon>
          Logout
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <main>
      <router-view></router-view>
    </main>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      sideNav: false
    }
  },
  computed: {
    menuItems () {
      let menuItems = [
        { icon: 'face', title: 'SIGN UP', link: '/signup' },
        { icon: 'lock_open', title: 'SIGN IN', link: '/signin' }
      ]
      if (this.userIsAuthenticated) {
        menuItems = [
          { icon: 'supervisor_account', title: 'VIEW NEWS', link: '/newsitems' },
        { icon: 'room', title: 'ORGANIZE NEWS', link: '/newsitems/new' },
        { icon: 'person', title: 'PROFILE', link: '/profile' }
        ]
      }
      return menuItems
    },
    userIsAuthenticated () {
      return this.$store.getters.user !== null && this.$store.getters.user !== undefined
    }

  },
  methods: {
    onlogout () {
      this.$store.dispatch('logout')
    }
  }
}
</script>

<style lang="stylus">
@import './stylus/main'

</style>
