<template>
  <v-dialog width="350px" persistent v-model="editDialog">
    <v-btn fab accent slot="activator">
      <v-icon>edit</v-icon>
    </v-btn>
    <v-card>
      <v-container>
        <v-layout row wrap>
          <v-flex xs12>
            <v-card-title>Edit NewsItem</v-card-title>
          </v-flex>
        </v-layout>
        <v-divider></v-divider>
        <v-layout row wrap>
          <v-flex xs12>
            <v-card-text>
              <v-text-field
              name="title"
              label="Title"
              id="title"
              v-model="editedTitle"
              required>
              </v-text-field>
              <v-text-field
              name="description"
              label="Description"
              id="description"
              v-model="editedDescription"
              multi-line
              required>
              </v-text-field>
            </v-card-text>
          </v-flex>
        </v-layout>
        <v-divider></v-divider>
        <v-layout row wrap>
          <v-flex xs12>
            <v-card-actions>
              <v-btn flat
              class="blue--text darkeb-1"
              @click="editDialog = false">close</v-btn>
              <v-btn flat
              class="blue--text darkeb-1"
              @click="onSaveChange">save</v-btn>
            </v-card-actions>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-dialog>
</template>
<script>
  export default {
    props: ['newsItem'],
    data () {
      return {
        editDialog: false,
        editedTitle: this.newsItem.title,
        editedDescription: this.newsItem.description
      }
    },
    methods: {
      onSaveChanges () {
        if (this.editedTitle.trim() === '' ||
        this.editedDescription.trim() === '') {
          return
        }
        this.editDialog = false
        this.$store.dispatch('updateNewsItemData', {
          id: this.newsItem.id,
          title: this.editedTitle,
          description: this.editedDescription
        })
      }
    }
  }
</script>
