<template>
  <v-dialog width="350px" persistent v-model="editDialog">
    <v-btn accent slot="activator">
      Edit Time
    </v-btn>
    <v-card>
      <v-container>
        <v-layout row wrap>
          <v-flex xs12>
            <v-card-title>Edit NewsItem Time</v-card-title>
          </v-flex>
        </v-layout>
        <v-divider></v-divider>
        <v-layout row wrap>
          <v-flex xs12>

          </v-flex>
        </v-layout>
        <v-divider></v-divider>
        <v-layout row wrap>
          <v-flex xs12>
           <v-time-picker
           v-model="editableTime"
           style="width: 100%"
           actions format="24hr">
           <template slot-scope="{save, cancel}">
             <v-btn class="blue--text darken-1"
             flat
             @click.native="editDialog = false">close</v-btn>
             <v-btn class="blue--text darken-1"
             flat
             @click.native="onSaveChanges">save</v-btn>
           </template>
           </v-time-picker>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: ['newsItem'],
  data () {
    return {
      editDialog: false,
      editableTime: null
    }
  },
  methods: {
    onSaveChanges () {
      const newDate = new Date(this.newsItem.date)
      const hours = this.time.match(/^(\d+)/)[1]
      const minutes = this.time.match(/:(\d+)/)[1]
      newDate.setHours(hours)
      newDate.setMinutes(minutes)

      this.$store.dispatch('updateNewsItemData', {
        date: newDate
      })
    },
    created () {
      this.editableTime = new Date(this.newsItem.date).toTimeString
    }
  }
}
</script>
